@import '../../styles/variables';

.lang {
  &-select {
    background-color: transparent;
    border: none;
    color: $color-text-white;
    & option {
      background-color: rgba($color: #000000, $alpha: 1);
      border: none;
    }
  }
}
